---
const { record } = Astro.props
---
<div class="flex-[1_1_400px] flex flex-row md:max-w-md mx-auto relative overflow-hidden z-10 bg-black/40 backdrop-blur-md p-4 rounded-xl shadow-black shadow-2xl transition-transform will-change-transform duration-300 record-card m-5">
    <div class="absolute w-24 h-24 bg-amber-500 bg-opacity-50 rounded-full -z-10 blur-2xl top-20 right-0" />
    <img src={record.image_url} alt="Imagel del disco" class="h-24 w-24 rounded-xl" />
    <div class="flex flex-col text-nowrap">
        <div class="p-1 font-bold text-xl text-amber-500">
            <p>{record.artist} - {record.title}</p>
        </div>
        <div class="p-1 text-gray-400 text-sm">
            <p>{record.country}, {record.year}</p>
        </div>
        <div class="p-1 text-gray-400 text-sm">
            <p>{record.label} - {record.catno}</p>
        </div>
    </div>
</div>
